# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/dataSources.local.xml
.idea/modules.xml
.idea/vcs.xml
.idea/wappie-jump.iml
.idea/workspace.xml
src/_linker_libs
src/_linker_libs
src/_cpp_flags
Makefile.native
*.native
src/_linker_libs
src/Resources/db/Highscore.txt
